@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Share+Tech+Mono&display=swap");

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

#month {
  min-width: 95px;
}

.pointer {
  cursor: pointer;
}

thead th.weekdays {
  font-family: "Nova Mono", monospace;
  font-family: "Share Tech Mono", monospace;
}

td {
  min-width: 41px;
}

td.active {
  background-color: #0d6efd !important;
  color: white !important;
}

.today {
  color: red;
  font-weight: bolder;
}
