body {
  font-family: sans-serif;
}

.container {
  margin: 5rem auto;
}

.pointer {
  cursor: pointer;
}

td.active {
  background-color: red !important;
  color: white;
  font-weight: bolder;
}

.today {
  color: red;
  font-weight: bolder;
}
